$color1: #fff;
$color2: #f4f4f4;
$color3: #a6a6a6;
$color4: #ff8c30;
$color5: #747474;
$color6: #0e1574;

$card-image-height: 120px;

$breakpoint-tablet: 768px;

h1 {
  font-size: 48px;
  font-weight: 900;
  color: $color6;
}
